/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head{
    display: flex;
    flex-direction: column;
    gap:50px;
    align-items: center;
}
h1{
    color:purple;
}

p{
    color:purple;
    font-size:50px;
}

h1:hover{
    opacity: 0;
    transition: 1s;
    cursor: pointer;
}
p:hover{
    transform: scale(1.1);
    transition: 1s;
    cursor: pointer;
} */

canvas { 
    background: #f0f0f0; 
    display: block; 
    width: 100%;
    max-width: 400px;  
    margin: 0 auto; 
    touch-action: none;
}